<div class="header_section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="http://localhost:3200/page/home"><img src="images/logo.png"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/page/home">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/page/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/page/item">OUR PRODUCTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/page/video">VIDEO GAMES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/page/remot">REMOT CONTROL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/page/contact">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="images/search-icon.png"></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3200/login">SIGN IN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3200/register">REGISTER</a>
            </li>
          </ul>
        </div>
    </nav>
</div>