
  <!-- banner section end -->
  <!-- about section start -->
  
  <!DOCTYPE html>
<html lang="en">
	<!-- header section end -->
  <!-- product section start -->
<div><%- include("./banner.ejs") %> </div>
 <div><%- include("./about.ejs") %></div>
 <div><%- include("./video.ejs") %> </div>


  <!-- product section end -->
  <!-- footer section start -->

  <!-- copyright section end -->
  <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- javascript --> 
    <script src="js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
    $(document).ready(function(){
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
        })});
    </script>
</body>
</html>